* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url("https://media-public.canva.com/qchm0/MAEY1Fqchm0/1/s.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

svg {
 max-width: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 60px;
    font-size: 20px;
}

.title {
    font-size: 100px;
}

.header_button_main {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 20px 0;
}

.button1 {
    padding: 30px;
    background-color: white;
}

.header_button2 {
   position: relative;
}
.header_button_main button {
    padding: 15px;
    width: 200px;
    height: 53px;
    border: 1px;
    border-radius: 30px;
    font-weight: 700;
    font-style: normal;
}

.over {
    opacity: .8;
}
.header_button2_background {
    width: 200px;
    border: 1px;
    border-radius: 30px;
}
.header_button2 a {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: lighter;
}
.header_button_main a {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
}

.nav_title {
    padding: 0 250px;
    display: flex;
    align-items: center;

}

.img_title img {
    width: 600px;
    height: 660px;
    margin: 30px;
}

.img_title_small {
    padding-top: 92px;
}
